<div class="food_card">
  <div class="card">
    <!-- <img src="..." class="card-img-top" alt="..."> -->
    <div class="card-body">
      <h5 class="card-title"><%= link_to food_item.name, food_item %></h5>
      <p class="card-text"><%= food_item.description %></p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Price : ₹<%= food_item.price %></li>
    </ul>
    <div class="card-body">
      <%= link_to 'Edit', edit_food_item_path(food_item), class: "card-link" if can? :update, food_item %>
      <%= link_to 'Delete', food_item, method: :delete, data: { confirm: "Are you sure?" }, class: "card-link" if can? :destroy, food_item %>
    </div>
  </div>
</div>