<%= form_with(model: @food_item, local: true, class: "food_form") do |f| %>
  <%= render "shared/error_messages", object: f.object %>

  <div class="form-floating mb-3 field">
    <%= f.text_field :name, autofocus: true, class: "form-control", placeholder: "Name" %>
    <%= f.label :name %><br />
  </div>
  
  <div class="form-floating mb-3 field">
    <%= f.number_field :price, min: 1, class: "form-control", placeholder: "Price" %>
    <%= f.label :price %><br />
  </div>
  
  <div class="form-floating mb-3 field">
    <%= f.text_area :description, class: "form-control", placeholder: "Description", style: "height: 100px" %>
    <%= f.label :description %><br />
  </div>

  <div class="actions">
    <%= f.submit "Add", class: "btn" %>
  </div>
<% end %>