<% provide(:title, 'Food Items') %>
<div class="container food_index">
<% if current_user.is_admin? || current_user.is_buyer?%>
  <div class="food_index_heading heading">
    <h1>All Food Items</h1>
  </div>
  <div class="food_index_content">
    <div class="food_index_list">
      <%= render @food_items %>
    </div>
    <div class="food_index_pagination">
      <%= paginate @food_items %>
    </div>
  </div>
<% end %>

<% if current_user.is_seller? %>
  <div class="food_index_heading heading">
    <h1>Food Items enlisted by <%= full_name(current_user) %></h1>
  </div>
  <div class="food_index_content">
    <div class="food_index_list">
      <%= render @food_items_by_seller %>
    </div>
    <div class="food_index_pagination">
      <%= paginate @food_items_by_seller %>
    </div>
  </div>
<% end %>
</div>